mixin l(value)
	| {{ #{value} }}
 
mixin yfm
	| ---#{"\n"}
		block
	| ---#{"\n"}
 
mixin _if(condition)
	| {% if #{condition} %}
		block
	| {% endif %}
 
mixin _else
	| {% else %}
		block
 
mixin _elsif(condition)
	| {% elsif #{condition} %}
		block
 
mixin _unless(condition)
	| {% unless #{condition} %}
		block
	| {% endunless %}
 
mixin _for(condition)
	| {% for #{condition} %}
		block
	| {% endfor %}
 
mixin _assign(condition)
	| {% assign #{condition} %}
 
mixin _cycle(condition)
	| {% cycle #{condition} %}
 
mixin _capture(condition)
	| {% capture #{condition} %}
		block
	| {% endcapture %}
 
mixin _include(condition)
	| {% include #{condition} %}
 
mixin _raw
	| {% raw %}
		block
	| {% endraw %}

mixin ko_with(val)
	| <!-- ko with: !{val} -->
		block
	| <!-- /ko -->
 
mixin ko_if(val)
	| <!-- ko if: !{val} -->
		block
	| <!-- /ko -->
 
mixin ko_each(val)
	| <!-- ko foreach: !{val} -->
		block
	| <!-- /ko -->