 //- Basic in a html

mixin meta()
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	meta( name="viewport" content="width=device-width, initial-scale=1" )
	link( rel="shortcut icon",href="favicon.ico")

mixin css(pathcss)
	link(rel='stylesheet', href=pathcss)

mixin normalize(version, pathcss)
	- var namz = version && !pathcss ? '//cdnjs.cloudflare.com/ajax/libs/normalize/' + version +'/normalize.min.css' : pathcss + '/normalize.css' ;
	link(rel='stylesheet', href= namz )

mixin modernizr(version, pathz)
	script(src='//cdnjs.cloudflare.com/ajax/libs/modernizr/#{version}/modernizr.min.js')

mixin jQuery(version, pathz)
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/#{version}/jquery.min.js')
	- var jQueryFallbacks = [];
	- jQueryFallbacks[0] = 'http://code.jquery.com/jquery-' + version + '.min.js';
	- jQueryFallbacks[1] = 'http://ajax.aspnetcdn.com/ajax/jQuery/jquery-' + version + '.min.js';
	- jQueryFallbacks[2] = '//cdnjs.cloudflare.com/ajax/libs/jquery/' + version + '/jquery.min.js';
	- jQueryFallbacks[3] = pathz + (version.charAt(0) === '1'? '1': '') +'.js';
	each url in jQueryFallbacks
		script.
			window.jQuery || document.write('<script src=#{url}><\/script>');

//- ogp
mixin ogp(ogpData)
	//- ogp tags
	meta(property="og:title", content="#{ogpData.title}")
	meta(property="og:type", content="article")
	meta(property="og:description", content="#{ogpData.description}")
	meta(property="og:url", content="#{ogpData.url}")
	meta(property="og:image", content="#{ogpData.image}")
	meta(property="og:site_name", content="#{ogpData.siteName}")
	meta(property="og:locale", content="#{ogp.lang}")
	meta(property="fb:admins", content="#{ogpData.fbid}")
	meta(property="fb:app_id", content="#{ogpData.fbid}")
