mixin img-src(src, types)
	img(alt=atributes.alt, src='data:#{types !! "img/png"};base64,#{src}')


//- Writing JS for everything is great and all, but I don't want to see JS
//- inline in my Jade templates. Thankfully, there are ways of abstrating it
//- into mixins!

//- Want some Rails-like helpers?
mixin link_to(href)
	a(href="#{href || '#'}", class=attributes.class)
		block

//- How about a single editing point for a class name?
mixin button(href)
	- var href = href || "#"
	a.button(href="#{href}", class=attributes.class)
		block

//- Iterating over collections to wrap them in an element? Send the tag name and
//- collection to have it handle the syntax for you
mixin element_list(el, collection)
	each item in collection
		#{el}( class=attributes.class )=item

//- Repeat a block without writing inline JS
mixin times(limit)
	- for (var i = 1; i <= limit; i++) {
		block
	- }
